@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300&family=League+Spartan:wght@300&display=swap');
body{
    font-family: 'League Spartan', sans-serif;}
h1,h4,a{ color: #2299aa;}
p{
    line-height: 1.5rem;
    color: #333333;
    font-size: 20px;
}
/* navigation */
.navigation {
	z-index: 1000;
	width: 100%;
	position: relative;
	min-height: 60px;
}
#navbarNav{
    justify-content: flex-end;
}
.navbar-light .navbar-brand {
    color: #2299aa !important;
    font-size: 2rem;
}
.navbar-light .navbar-nav .nav-link {
	color: #333333;
    font-weight: 600;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
}
/* banner */
.banner, .my-works, .pricing, .testimonials{
	background-color: #eae7dc;
}

.my-clients .card, .my-contacts .card{
    background-color: #eae7dc;
    border: none;
}
.my-contacts a{
    text-decoration: none;
}
.what-i-do h4{
    font-weight: 600;
}
/* buttons */
.btn{
    background-color: #2299aa !important;
    border-radius: 2rem !important;
    color: #ffffff !important;
    border: #2299aa !important; 
    padding-left: 2rem;
    padding-right: 2rem;
}
h1, h5{
    font-weight: 700;
}
.testimonials img{
    border-radius: 3rem;
}
.testimonials span{
    font-style: italic;
}
/* icons */
.icon{
    width: 100% !important;
    color: #fff !important;
    background-color: #2299aa;
    border-radius: 28px;
    height: 50px;
    max-width: 50px;
    background-size: 20%;
    padding: 12px;
    margin: auto;
}
hr{
    margin-left: 4rem;
    margin-right: 4rem;
}
/* footer */
.footer a{
    text-decoration: none;
    color: #2299aa;
    font-style: italic;
}